.card-body{
    width: 100vh;
    height: 40vh;
}
.card{
    width: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    
}